@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #AEEBF2;
    --cor2: #038C73;
    --cor3: #F2CB57;
    --cor4: #A68D85;
    --cor5: #F24C3D;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--cor4);
}

header {
    background-color: var(--cor5);
    min-height: 150px;
}

header h1 {
    font-family: var(--font-destaque);
    text-align: center;
    text-shadow: 2px 2px 4px var(--cor2);
    color: white;
    font-size: 2.5em;
    padding: 30px 0px;
    font-weight: bolder;
    min-width: 240px;
}

header h2 {
    background-color: var(--cor2);
    font-family: var(--font-padrao);
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    font-style: italic;
    padding: 10px;
    text-shadow: 2px 2px 4px var(--cor2);
    min-width: 240px;
}

/*navegação*/

.nav {
    display: inline-flex;
    background-color: rgb(245, 243, 243);
    border-bottom: 2px solid var(--cor5);
    width: 100%;
    font-family: var(--font-destaque);
    text-align: center;
    font-family: var(--font-padrao);
}

.nav div {
    padding: 5px 10px;
}

.nav div:hover {
    padding: 6px 12px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.623);
    transition: 0.5s;
}

/*main*/

main {
    margin: auto;
    max-width: 1000px;
    background-color: white;
}

.mercHome {
    margin: auto;
}

.imgHome {
    display: flex;
    margin: auto;
    margin-top: 10px;
    max-width: 90%;
    height: auto;
    padding: 5px 5px;
    border-radius: 15px;
}

.h3Home {
    background-color: var(--cor5);
    font-family: var(--font-destaque);
    font-size: 1.6em;
    padding: 12px;
    text-align: center;
    text-shadow: 2px 2px 3px var(--cor1);
}

.descri {
    font-family: var(--font-padrao);
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.homeP {
    font-family: var(--font-padrao);
    text-align: justify;
    padding: 10px 15px;
    font-style: italic;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px 45px;
} 

